/* wb55 */

@-webkit-keyframes surround {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@-o-keyframes surround {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@-moz-keyframes surround {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes surround {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
.topbox{
    width: 1200px;
    height: 430px;
    margin: 0 auto;
    /*margin-top: 40px;*/
}
.wb-contain {
    margin: auto;
    width: 1200px;
    font-family: "Microsoft Yahei";
}

body {
    background: url("../images/bg.jpg?v1") no-repeat center top;
}


/* å¤´éƒ¨ */


/*.video-btn{
  display: block;
  width:21px;
  height:30px;
  background:url(../images/sanjiao.png) 0 0 no-repeat;
  position: absolute;
  top: 220px;
  left: 50%;
  margin-left: -40px;
}*/

.logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -572px;
    height: 160px;
    width: 238px;
    display: block;
    background: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
}

.video-box {
    width: 1000px;
    height: 79px;
    margin: 0 auto;
    /* margin-top: -215px; */
    position: relative;
    /* display: none; */
}

.video-btn {
    position: absolute;
    height: 75px;
    width: 75px;
    /* content: ""; */
    display: block;
    /* background: url('../images/v_bg.jpg') center no-repeat; */
    top: 0; 
    left: 264px;
}

.video-btn .by {
    position: relative;
    top: 22px;
    left: 63px;
    display: block;
    width: 34px;
    height: 34px;
    background: url(../images/sanjiao.png) 0 0 no-repeat;
    -webkit-animation: surround 1.5s linear infinite;
    -moz-animation: surround 1.5s linear infinite;
    animation: surround 1.5s linear infinite;
    -o-animation: surround 1.5s linear infinite;
}

.video-btn .sj {
    display: block;
    position: absolute;
    top: 22px;
    left: 63px;
    width: 34px;
    height: 34px;
    background: url(../images/san_jiao.png) 0 0 no-repeat;
}

.wb-head {
    min-width: 1000px;
    height: 261px;
    padding-top: 260px;
    /*background: url(../images/head.jpg) no-repeat center top;*/
}

.wb-head .slogan {
    position: absolute;
    margin-top: 201px;
    width: 550px;
    height: 235px;
    background: url(../images/slogan.png) no-repeat left top;
}

.wb-head .sg {
    position: absolute;
    margin: 436px 0 0 30px;
    width: 670px;
    height: 128px;
    background: url(../images/sg.png) no-repeat left top;
}

.wb-head .sg em {
    position: absolute;
    margin: 15px 0 0 569px;
    width: 96px;
    height: 98px;
    cursor: pointer;
}

.mreg{
    width: 372px;
    height: 380px; background: url(../images/regbg.png) no-repeat;
    position: relative;
    float: left;
}

#j-fastreg-form{ 
    position: absolute;
    top: 100px; 
    left: 30px;
}

#j-fastreg-form label{
    margin-left: -95px;
}

#j-fastreg-form .agree label{
    margin-left: -14px;
    margin-top: 5px;
}

.download{
    width: 372px;
   height: 380px; background: url(../images/dlbg.png) no-repeat;
    position: relative;
    float: left;
    margin-left: 35px;
}

.download a{
    position: absolute;
    width: 247px;
    height: 58px;
    left: 65px;
}

.download .gs{
    top: 256px;
    background: url(../images/dl-gs.png) no-repeat;
}

.download .http{
    top: 325px;
    background: url(../images/dl-http.png) no-repeat;
}

.act{
    width: 372px;
   height: 380px; background: url(../images/actbg.png) no-repeat;
    position: relative;
    float: left;
    margin-left: 35px;
}

.act a{
    position: absolute;
    width: 247px;
    height: 58px;
    left: 35px;
    top: 325px;
    background: url(../images/join.png) no-repeat;
}


/* ç¤¼åŒ… */

.wb-li {
    margin-top: 20px;
    padding-top: 90px;
    background: url(../images/gifttit.jpg) top center no-repeat;
}

.wb-li .main {
    position: relative;
    height: 300px;
    background-color: #fff;
    overflow: hidden;
}

.wb-li .btn {
    position: absolute;
    margin: -65px 0 0 53px;
    width: 216px;
    z-index: 2;
    height: 49px;
    line-height: 49px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    background: url(../images/btn.png) no-repeat center top;
    background-position: -24px -68px;
    text-decoration: none;
    cursor: pointer;
}

.wb-li .http {
    margin: 0;
    position: absolute;
    top: 231px;
    left: 43px;
    width: 287px;
    height: 54px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    background: url(../images/btn.png) no-repeat center top;
    background-position: -282px -64px;
    text-decoration: none;
    cursor: pointer;
}

.wb-li .download {
    margin: 0;
    position: absolute;
    top: 167px;
    left: 43px;
    width: 287px;
    height: 54px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    background: url(../images/btn.png) no-repeat center top;
    background-position: -282px 0;
    text-decoration: none;
    cursor: pointer;
}

.wb-li .lb {
    float: left;
    width: 325px;
    padding-top: 70px;
    background: url(../images/t1.jpg) no-repeat center top;
}

.wb-li .mreg {
    float: left;
    margin-left: 10px;
    width: 392px;
    /* padding-top: 70px; */
    /* background: url(../images/t2.jpg) no-repeat center top; */
}

.wb-li .hl {
    float: right;
    width: 372px;
    padding-top: 70px;
    background: url(../images/t3.jpg) no-repeat center top;
    position: relative;
}

.wb-li .hl .main {
    padding: 0 23px 0 24px;
}

.wb-li .hl .main img {
    position: relative;
    top: 32px;
}

.wb-li .wn-fastreg {
    padding: 15px 57px 0;
}

.wb-li .wn-fastreg .row {
    height: 38px;
}

.wb-li .wn-fastreg .send {
    padding-top: 0px;
}

.wb-li .wn-fastreg .sendBtn,
.wb-li .wn-fastreg .sendBtn:hover {
    width: 239px;
    height: 51px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    background: url(../images/btn.png) no-repeat center;
    background-position: 0 0;
    text-decoration: none;
    cursor: pointer;
    margin-top: 0px;
}

.wb-lilay {
    position: relative;
    width: 990px;
    height: 437px;
    background: url(../images/pop.png) no-repeat center top;
}

.wb-lilay .j-overlay-close {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.wb-lilay .reg {
    position: absolute;
    width: 200px;
    height: 100px;
    cursor: pointer;
    left: 390px;
    bottom: 20px;
}

.wb-middle2 {
    height: 380px;
    margin-bottom: 40px;
}


/* åœºæ™¯ */

.wb-cj {
    margin-top: 23px;
    margin-bottom: 50px;
}

.wb-cj .cj {
    float: left;
    width: 663px;
    height: 330px;
    overflow: hidden;
}

.wb-cj .cj .tab {
    position: absolute;
    z-index: 5;
}

.wb-cj .cj .tab li {
    float: left;
    margin-right: 2px;
    width: 164px;
    height: 50px;
    font-size: 14px;
    background-color: #e6e7ed;
    color: #5b628f;
}

.wb-cj .cj .tab li.current {
    width: 165px;
    background-color: #5b628f;
    color: #fff;
}

.wb-cj .cj .tab li p {
    padding-top: 4px;
    text-align: center;
}

.wb-cj .cj .tab li em {
    position: absolute;
    margin: 50px 0 0 72px;
    width: 0;
    height: 0;
    border: solid 10px #5b628f;
    border-color: #5b628f transparent transparent;
    display: none;
}

.wb-cj .cj .tab li.current em {
    display: block;
}

.wb-cj .cj .main {
    position: relative;
}

.wb-cj .cj .main,
.wb-cj .cj .main .j-fade-wrap,
.wb-cj .cj .main .j-fade-wrap li {
    width: 663px;
    height: 330px;
    overflow: hidden;
}

.wb-cj .cj .main .j-fade-wrap li {
    float: left;
}

.wb-cj .li {
    position: relative;
    float: right;
    width: 325px;
    height: 330px;
    overflow: hidden;
}

.wb-cj .li .j-slide-wrap,
.wb-cj .li .j-slide-wrap li {
    width: 325px;
    height: 330px;
    overflow: hidden;
}

.wb-cj .j-slide-wrap li {
    float: left;
}

.wb-cj .j-slide-icon {
    position: absolute;
    bottom: 15px;
    width: 325px;
    height: 27px;
    z-index: 9;
    text-align: center;
    overflow: hidden;
    font-size: 0;
}

.wb-cj .j-slide-icon li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-right: 5px;
    width: 24px;
    height: 27px;
    line-height: 27px;
    background: url(../images/bannericon.png) no-repeat left top;
    text-align: center;
    overflow: hidden;
    color: #503b3b;
    font-size: 12px;
}

.wb-cj .j-slide-icon li.current {
    background-position: right top;
    color: #b3acac;
}

.wb-contain .tuiguang {
    float: left;
    width: 325px;
    height: 367px;
    background: url(../images/activate.jpg)
}

.wb-contain .tuiguang .j-join {
    margin: 273px 0 0 63px;
    width: 210px;
    height: 52px;
}

.wb-contain .tuiguang:hover .j-join {
    cursor: pointer;
    /*background: url(../images/hover.png);*/
}

#j-clip {
    overflow: hidden;
    position: relative;
    /* left: 30px; */
    width: 1058px;
    height: 367px;
    /* background: #ccc; */
    display: block;
    margin: 0 auto;
}

#j-clip a {
    display: block;
    width: 100%;
    height: 367px;
}

.j-page {
    position: absolute;
    width: 70px;
    height: 367px;
    overflow: hidden;
}

.j-page .j-text {
    position: absolute;
    left: 30px;
    top: 265px;
    overflow: hidden;
    width: 260px;
    height: 90px;
    background-image: url(../images/text1.png);
}

.j-page .j-check {
    position: absolute;
    left: 45px;
    top: 340px;
    font-size: 16px;
    color: #c9aa64;
    cursor: pointer;
}

#j-cjbanner {
    float: left;
    width: 840px;
    height: 380px;
}

#j-cjtab {
    float: left;
    width: 290px;
    height: 380px;
    background-image: url(../images/right.jpg);
}

#j-cjtab li {
    width: 100%;
    height: 25%;
    /*background: url(../images/right_hover.png);*/
    background-position: 0 90px;
    cursor: pointer;
}

#j-cjtab li.current {
    background-position: 0 -10px;
}

#j-cjtab li p {
    width: 100%;
    height: 100%;
    background-image: url(../images/text_right_1.png);
}

#j-cjtab li.tab1 p {
    background-position: 0 -10px;
}

#j-cjtab li.tab2 p {
    background-position: 0 100px;
}

#j-cjtab li.tab3 p {
    background-position: 0 190px;
}

#j-cjtab li.tab4 p {
    background-position: 0 280px;
}

#j-cjtab li.current p {
    background-image: url(../images/text_right_2.png);
}


/* åº•éƒ¨ */

.wb-foot {
    min-width: 1000px;
    height: 390px;
    /*background: url(../images/foot.jpg) no-repeat center top;*/
}

.wb-foot .pic {
    margin-top: -11px;
}

#j-fastreg-ok {
    height: 260px;
    padding-top: 106px;
    /* background-color: #fff; */
    text-align: center;
}

#j-fastreg-ok .j-msg {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font: bold 24px/24px "Microsoft Yahei";
    color: #333;
    padding-bottom: 20px;
}

#j-fastreg-ok em{
    color: #F00606;
}

#suc_username{
    font: 22px/22px "Microsoft Yahei";
    padding-bottom: 10px;
}

.j-gift{
    font: 22px/22px "Microsoft Yahei";
    padding-bottom: 20px;
}

#j-fastreg-ok .awardCode {
    color: #f00;
}

#j-fastreg-ok b {
    font: bold 16px/30px "Microsoft Yahei";
    color: #de0b12;
}

.box3 {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    margin: 12px 0 23px;
    position: relative;
}

.box3 .nav {
    width: 1000px;
    height: 22px;
    position: absolute;
    left: 50%;
    margin-left: -565px;
    z-index: 2;
    top: 20px;
}

.box3 .nav a {
    width: 110px;
    height: 22px;
    float: left;
}

.box3 .nav .a1 {
    background: url(../images/nav1.jpg) 0 -22px no-repeat;
}

.box3 .nav .a2 {
    background: url(../images/nav2.jpg) 0 -22px no-repeat;
}

.box3 .nav .a3 {
    background: url(../images/nav3.jpg) 0 -22px no-repeat;
}

.box3 .nav .current {
    background-position: 0 0;
}

.box3 .cont {
    width: 1130px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.box3 .menu1 {
    width: auto;
    height: 64px;
    position: absolute;
    left: 0;
    bottom: 50px;
}

.box3 .menu2 {
    width: 652px;
    height: 64px;
    position: absolute;
    left: 0;
    bottom: 50px;
}

.box3 .menu3 {
    width: 520px;
    height: 64px;
    position: absolute;
    left: 0;
    bottom: 50px;
}

.box3 .menu a {
    width: 64px;
    height: 64px;
    float: left;
    margin-left: 1px;
    overflow: hidden;
    font: normal 12px/106px 'Microsoft Yahei';
    color: #000;
    text-align: center;
    text-decoration: none;
}

.box3 .menu a.current {
    background-position: 0 -61px;
    color: #fff;
}

.box3 .menu1 .a1 {
    background: url(../images/cont1/m-cfbj.png) 0 5px no-repeat;
}

.box3 .menu1 .a2 {
    background: url(../images/cont1/m-nlb.png) 0 5px no-repeat;
}

.box3 .menu1 .a3 {
    background: url(../images/cont1/m-gmp.png) 0 5px no-repeat;
}

.box3 .menu1 .a4 {
    background: url(../images/cont1/m-xdm.png) 0 5px no-repeat;
}

.box3 .menu1 .a5 {
    background: url(../images/cont1/m-hsp.png) 0 5px no-repeat;
}

.box3 .menu1 .a6 {
    background: url(../images/cont1/m-dmp.png) 0 5px no-repeat;
}

.box3 .menu1 .a7 {
    background: url(../images/cont1/m-ssg.png) 0 5px no-repeat;
}

.box3 .menu1 .a8 {
    background: url(../images/cont1/m-wxj.png) 0 5px no-repeat;
}

.box3 .menu1 .a9 {
    background: url(../images/cont1/m-sjy.png) 0 1px no-repeat;
}

.box3 .menu2 .a10 {
    background: url(../images/cont2/m-tsp.png) 0 6px no-repeat;
}
.box3 .menu2 .a1 {
    background: url(../images/cont2/m-sl.png) 0 0 no-repeat;
}

.box3 .menu2 .a2 {
    background: url(../images/cont2/m-wd.png) 0 0 no-repeat;
}

.box3 .menu2 .a3 {
    background: url(../images/cont2/m-em.png) 0 0 no-repeat;
}

.box3 .menu2 .a4 {
    background: url(../images/cont2/m-gb.png) 0 0 no-repeat;
}

.box3 .menu2 .a5 {
    background: url(../images/cont2/m-jzt.png) 0 0 no-repeat;
}

.box3 .menu2 .a6 {
    background: url(../images/cont2/m-jyw.png) 0 0 no-repeat;
}

.box3 .menu2 .a7 {
    background: url(../images/cont2/m-tm.png) 0 0 no-repeat;
}

.box3 .menu2 .a8 {
    background: url(../images/cont2/m-jlg.png) 0 0 no-repeat;
}

.box3 .menu2 .a9 {
    background: url(../images/cont2/m-mj.png) 0 0 no-repeat;
}

.box3 .menu3 .a1 {
    background: url(../images/cont3/m-xjz.png) 0 5px no-repeat;
}

.box3 .menu3 .a2 {
    background: url(../images/cont3/m-wgm.png) 0 5px no-repeat;
}

.box3 .menu3 .a3 {
    background: url(../images/cont3/m-thd.png) 0 5px no-repeat;
}

.box3 .menu3 .a4 {
    background: url(../images/cont3/m-wssz.png) 0 5px no-repeat;
}

.box3 .menu3 .a5 {
    background: url(../images/cont3/m-jzsj.png) 0 5px no-repeat;
}

.box3 .menu3 .a6 {
    background: url(../images/cont3/m-yhg.png) 0 5px no-repeat;
}

.box3 .mp-cont {
    position: absolute;
    left: 50px;
    top: 320px;
    font: normal 14px/20px "Microsoft Yahei";
    color: #000;
}


/* å¼¹å‡ºæ¡† */

.yihan-overlay {
    padding: 0 67px;
}

.yihan-overlay .j-overlay-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 67px;
    height: 67px;
    background: url(../images/closepop.jpg) no-repeat left top;
    cursor: pointer;
}

.yihan-overlay .player {
    width: 848px;
    height: 470px;
    background-color: #000;
    border: 3px solid #000;
    overflow: hidden;
}


/*åˆ†äº«*/

.sharebox {
    position: relative;
    left: 50%;
    top: 11px;
    width: 500px;
    height: 45px;
    /* margin: 0 auto; */
    margin-left: -400px;
}

.sharebox em {
    display: block;
    font-style: normal;
    font-size: 18px;
    font-family: "Microsoft YaHei";
    float: left;
    line-height: 45px;
}

.sharebox .sv {
    float: left;
    width: 300px;
    height: 45px;
}

.sv .bdshare-button-style0-16 a {
    width: 35px;
    height: 35px;
    margin-left: 8px;
    padding: 0;
    background: url(../images/s.png) no-repeat;
}

.sv .bdshare-button-style0-16 .weixin {
    background-position: -43px 0;
}

.sv .bdshare-button-style0-16 .qq {
    background-position: -87px 0;
}

.sv .bdshare-button-style0-16 .sqzone {
    background-position: -130px 0;
}

.sv .bdshare-button-style0-16 .ssina {
    background-position: -173px 0;
}

.sv .bdshare-button-style0-16 .more {
    background-position: -218px 0;
}

.link-box {
    width: 1100px;
    height: 70px;
    display: block;
    margin: 0 auto;
    padding: 62px 0;
}

.link-box a {
    width: 325px;
    height: 70px;
    display: block;
    float: left;
}

.link-box .s1 {
    background: url('../images/s1.jpg') center no-repeat;
}

.link-box .s2 {
    background: url('../images/s2.jpg') center no-repeat;
    margin: 0 62px;
}

.link-box .s3 {
    background: url('../images/s3.jpg') center no-repeat;
}

.ts-ul {
    overflow: hidden;
    width: 100%;
    height: 367px;
    margin: 0 auto;
}

.ts-ul li {
    list-style-type: none;
    overflow: hidden;
    float: left;
    width: 67px;
    -webkit-transition: width 0.5s;
    -webkit-transform: translateZ(0);
}

.ts-ul b {
    -webkit-transition: all 0.5s;
    width: 67px;
    display: block;
    height: 367px;
    text-indent: -9999em;
}

.ts-ul-li1 {
    background: url('../images/swiper/tab_bg_1.jpg?v1') no-repeat;
}

.ts-ul-li2 {
    background: url('../images/swiper/tab_bg_2.jpg?v1') no-repeat;
}

.ts-ul-li3 {
    background: url('../images/swiper/tab_bg_3.jpg?v1') no-repeat;
}

.ts-ul-li4 {
    background: url('../images/swiper/tab_bg_4.jpg?v1') no-repeat;
}

.ts-ul li.on {
    width: 848px;
}

.ts-ul li.on b {
    opacity: 0.0;
    filter: Alpha(opacity=0);
    -webkit-transform: translate3d(-100%, 0, 0);
}

.ts-ul-li1 b {
    background: url('../images/swiper/tab11.jpg?v1');
}

.ts-ul-li2 b {
    background: url('../images/swiper/tab22.jpg?v1');
}

.ts-ul-li3 b {
    background: url('../images/swiper/tab33.jpg?v1');
}

.ts-ul-li4 b {
    background: url('../images/swiper/tab44.jpg?v1');
}

.ts-ul-li5 b {
    background: url('../images/tab44.jpg?v1');
}

.ts-ul-li6 b {
    background: url('../images/tab44.jpg');
}

.ts-ul-li7 b {
    background: url('../images/tab44.jpg');
}

.ts-ul-li8 b {
    background: url('../images/tab44.jpg');
}

.swiper-container {
    width: 325px;
    height: 300px;
}

.swiper-slide {
    width: 325px;
    height: 300px;
}

.swiper-page-btn div {
    transition: 0.3s;
    position: absolute;
    z-index: 9;
    cursor: pointer;
    opacity: 0.8;
    top: 50%;
    margin-top: -68px;
    width: 30px;
    height: 56px;
}

.swiper-page-btn div:hover {
    opacity: 1.0;
}

.swiper-button-prev {
    left: 10px;
    background: url(../images/arrow_left.png);
}

.swiper-button-next {
    right: 10px;
    background: url(../images/arrow_right.png);
}


/*抽奖区样式  */

#lottery{
    width: 980px;
    height: 425px;
    position: relative;
    float: left;
    margin-left: 100px;
}

.lottery-item{
    width: 320px;
    height: 134px;
    position: absolute;
}

.lottery-item1{
    top: 0;
    left: 0;
    background: url(../images/gift1.jpg) no-repeat;
}

.lottery-item2{
    top: 0;
    left: 330px;
    background: url(../images/gift2.jpg) no-repeat;
}

.lottery-item3{
    top: 0;
    left: 660px;
    background: url(../images/gift3.jpg) no-repeat;
}

.lottery-item4{
    top: 139px;
    left: 660px;
    background: url(../images/gift4.jpg) no-repeat;
}

.lottery-item5{
    top: 278px;
    left: 660px;
    background: url(../images/gift5.jpg) no-repeat;
}

.lottery-item6{
    top: 278px;
    left: 330px;
    background: url(../images/gift6.jpg) no-repeat;
}

.lottery-item7{
    top: 278px;
    left: 0px;
    background: url(../images/gift7.jpg) no-repeat;
}

.lottery-item8{
    top: 139px;
    left: 0px;
    background: url(../images/gift8.jpg) no-repeat;
}

#lottery .active{
    width: 312px;
    height: 126px;
    border: 4px solid #f00;
}

.lottery-start{
    width: 320px;
    height: 134px;
    position: absolute;
    top: 139px;
    left: 330px;
    background: url(../images/draw-btn.jpg) no-repeat;
    cursor: pointer;
}
.mask {
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: url('../images/mask-bg.png') repeat;
}

.pop {
    text-align: center;
    box-sizing: border-box;
    padding-top: 100px;
    width: 900px;
    height: 600px;
    background: #fff;
    position: fixed;
    top: 120px;
    left: 50%;
    margin-left: -450px;
    z-index: 101;
    font-family: 'Microsoft Yahei';
}

.pop .h2 {
    font-size: 32px;
    font-weight: 700;
}

.pop h2 span{
    color: #f00;
}

.pop h3 {
    font-size: 20px;
    font-weight: 700;
}

.pop h4 {
    font-size: 18px;
    margin: 15px 0;
}

.pop .bottom-info {
    border-top: 1px solid #ccc;
    height: 122px;
    /* text-align: center; */
    width: 100%;
    position: absolute;
    bottom: 20px;
}

.pop .bottom-info h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 15px 0;
}

.pop select {
    width: 250px;
    text-align: center;
    height: 40px;
    font-size: 20px;
    margin: 30px 0;
    font-family: 'Microsoft Yahei';
}

.pop .choose-server .submit{
    display: block;
    cursor: pointer;
    margin: 0 auto;
    width: 247px;
    height: 58px;
    background: url('../images/submit.jpg');
}

.pop .close {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px;
    height: 45px;
    width: 45px;
    background: url('../images/close2.jpg');
}

.addr-form input {
    width: 432px;
    margin: 10px auto;
    text-indent: 20px;
    height: 40px;
    line-height: 40px;
    backface-visibility: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.addr-form .submit {
    display: block;
    cursor: pointer;
    margin: 0 auto;
    width: 247px;
    height: 58px;
    background: url('../images/submit.jpg');
}
.addr-submit-suc{
    padding-top: 50px;
}
.addr-submit-suc img{
    display: block;
    width: 52px;
    float: left;
    padding-left: 200px;
    padding-right: 20px;
}
.addr-submit-suc em{
    line-height: 52px;
    display: block;
    float: left;
}
.send-suc h4{
    padding-top: 50px;
}
#suc_name,#server_gift,#add_name{
    color: #de0b12;
}

.bottom-info a{
    position: absolute;
    width: 247px;
    height: 58px;
}

.bottom-info .gs{
    left: 186px;
    bottom: 0px;
    background: url(../images/dl-gs.png) no-repeat;
}

.bottom-info .http{
    right: 186px;
    bottom: 0px;
    background: url(../images/dl-http.png) no-repeat;
}